@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --green: #0ECB81;
  --blue: #87CEEB;
  --red: #F00;
  --dark: #14161A;
  --secondary-dark: #A9A9A9;
  --table-color: #16171A;
  --roboto: 'Roboto', sans-serif;
  --Montserrat: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: var(--dark);
}